<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu-list" id="menuList">
          <li class="menu-item">
            <a href="/books" class="menu-link">Books</a>
          </li>
          <li class="menu-item">
            <a href="/quotes" class="menu-link">Quotes</a>
          </li>
          <li class="menu-item">
            <a href="/dashboard" class="menu-link active">Dashboard</a>
          </li>
          <li class="menu-item">
            <a href="/add" class="menu-link">Add</a>
          </li>
          <li class="menu-item">
            <a href="/profile" class="menu-link">Profile</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="dashboard-main">
      <div class="activity-box">
        <h2>Dashboard</h2>
        <div class="stats-grid">
          <div class="stat-item">
            <div class="stat-label">Total Books</div>
            <div class="stat-value"><%= totalBooks %></div>
          </div>
          <div class="stat-item">
            <div class="stat-label">All Quotes</div>
            <div class="stat-value"><%= totalQuotes %></div>
          </div>
          <div class="stat-item">
            <div class="stat-label">Finished book</div>
            <div class="stat-value"><%= finishedBooks %></div>
          </div>
          <div class="stat-item">
            <div class="stat-label">Want To Read</div>
            <div class="stat-value"><%= wantBooks %></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
