<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu-list" id="menuList">
          <li class="menu-item">
            <a href="/books" class="menu-link">Books</a>
          </li>
          <li class="menu-item">
            <a href="/quotes" class="menu-link active">Quotes</a>
          </li>
          <li class="menu-item">
            <a href="/dashboard" class="menu-link">Dashboard</a>
          </li>
          <li class="menu-item">
            <a href="/add" class="menu-link">Add</a>
          </li>
          <li class="menu-item">
            <a href="/profile" class="menu-link">Profile</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="quotes-main">
      <h2>Quotes</h2>
      <div class="quotes-container">
        <% if (quotes.length === 0) { %>
        <div class="quotes">
          <span class="quotes-text">No quotes added yet.</span>
        </div>
        <% } else { %> <% quotes.forEach(q => { %>
        <div class="quotes">
          <span class="quotes-text">"<%= q.quote_text %>"</span>
          <span class="quotes-author">- <%= q.author %></span>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
  </body>
</html>
