@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  width: 100%;
  padding: 40px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #1a7ff3;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group input {
  font-size: 0.9rem;
  width: 350px;
  padding: 10px 8px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.473);
  border-radius: 10px;
  margin: 10px 0 25px 0;
}

.button input {
  color: #ffffff;
  width: 100%;
  padding: 8px 5px;
  border: none;
  background-color: #1a7ff3;
  margin: 15px 0 30px 0;
  border-radius: 10px;
}

.button input:hover {
  background-color: #151d94;
  transform: translateY(-7px);
  transition: all 0.6s;
  cursor: pointer;
}

span a {
  font-size: 1rem;
  text-decoration: none;
  color: #1a7ff3;
  border-radius: 2px;
}

a:hover {
  border-bottom: 1px solid #151d94;
  transition: all 0.8s;
  color: #151d94;
  font-size: 1.1rem;
}
